# Core Django and dependencies
Django==4.2.9
asgiref==3.7.2
djangorestframework==3.14.0

# Debug and CORS
django-debug-toolbar==4.2.0
django-cors-headers==4.3.1

# Utils
sqlparse==0.4.4
tzdata==2024.1
Pillow==10.1.0